/* color palette from <https://github.com/vuejs/theme> */
:root {
  --r-col-transparent-dbg: #0041;
  --r-col-transparent: #0000;

  --r-col-crab-light: #F74C00;
  --r-col-crab-slightly-dark: #E43A25;
  --r-col-crab-dark: #8F1F1D;
  --r-col-blue: #01346B;
  /* don't work: rgba(var(--r-col-blue), 0.7); */
  --r-col-blue-60: #01346B99;
  --r-col-blue-70: #01346BB3;
  --r-col-blue-80: #01346BCC;

  /* 
  --r-col-bg: #EEE;
  --r-col-bg-dark: #DEDEDE; 
  --r-col-bg-light-blue: #7890B0;
  */
  /* [TO PURPLE] */
  --r-col-bg: #EEF;
  --r-col-bg-dark: #DADAF4; /*#D0D0E0*/
  --r-col-bg-light-blue: #9A7DC4;
}


/* :root { } */
@media (prefers-color-scheme: dark) { /* :root { } */ }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  /* font-weight: normal; */
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nonselectable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.x-checker {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: sub;
  border: 3px solid var(--r-col-blue);
}
.x-checker:hover {
  background-color: var(--r-col-crab-light);
}
.x-checker:checked {
  background-color: var(--r-col-blue);
}
.pic-spoiler-text {
  padding: 3px;
  border: dashed 3px var(--r-col-crab-light);
  background-color: var(--r-col-bg-dark);
  color: var(--r-col-crab-light);
  font-weight: bold;
  box-shadow: 0 0 3px 3px var(--r-col-bg-dark);
  /* font-size: 0.9em; */
}