.big-rect {
    background: var(--r-col-transparent-dbg);
    /* background: transparent; */
    display: flex;
    overflow: hidden;
    width: calc(max(480px, 40vw));
    height: calc(max(480px, 40vh));
    margin-left: calc((100vw - max(480px, 40vw)) / 2);
    margin-top: calc((100vh - max(480px, 40vh)) / 2);
}
.big-rect>.big-rect-corn {
    background: var(--r-col-bg);
    position: absolute;
    z-index: 1;
    /* width: 50px;
    height: 50px;
    right: -30px;
    bottom: -30px; */
    width: calc(max(50px,  ( 5vw + 5vh ) / 2));
    height: calc(max(50px,  ( 5vw + 5vh ) / 2));
    right: calc(min(-30px, ( -3.0vw + -3.0vh ) / 2));
    bottom: calc(min(-30px, ( -3.0vw + -3.0vh ) / 2));
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}
.big-rect-inner {
    width: 100%; 
    height: 100%; 
    display: block;
    text-align: center;
    justify-content: center;
}
.big-rect-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}
.big-rect-text {
    height: 6.5%;
    font-weight: bold;
    font-size-adjust: ex-height;
}