.board-inner {
    /* width: 100vw; */
    width: 100%;
}

.board-sad-text {
    text-align: center;
    font-size: 1.9em;
    padding-top: 0.35em;
    color: var(--r-col-blue);
    font-weight: 900;
}

