@import './base.css';
@import './center.css';
@import './board.css';

a {
  text-decoration: none;
  color: var(--r-col-crab-light);
}

a:hover { background-color: var(--r-col-blue); }

body {
  display: flex;
  place-items: center;
  background-color: var(--r-col-bg);

  /* overflow-y:scroll; */
  overflow-y:auto;
}

#app {
  display: flex;
  margin: 0;
  position: relative;
}
