
:root {
    --spoiler-color: #B1CAE3;
    --rand-color: #88A5;

    --a--nyan-color: #eb39be;
    --a--nyan-color-from: #9e68ff;
    --a--nyan-color-to: #fb399d;

    --a--cat-bg-color: #de2897ab; /* #de2897ab;  #E369B3; */

    --a--word-0: #18c5e1;
    --a--word-1: #ea018f;
}

/*
* small name needed because of this name will be used as output for msg preproc
* so for reducing probability of realloc we need use more small name 
* `P` stands for `post`
* `sp` stands for `spoiler`
*/
span.P-sp {
    color: var(--spoiler-color);
    background-color: var(--spoiler-color);
}
span.P-sp:hover {
    color: inherit;
    background-color: inherit;
}

/* <span class="P-sp">spoilered text</span> */

span.P-rand {
    color: var(--r-col-crab-light);
}
span.P-rand, span.H-rand {
    margin-left: 0.1em;
    margin-right: 0.1em;
    background-color: var(--rand-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
  
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    
    /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */

    /* -webkit-clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0); */
}
/* <span class="P-rand" title="{from} <= x <= {to}">number</span> */


span.P-a-nyan {
    background-color: var(--a--nyan-color);
    background-image: linear-gradient(to right, var(--a--nyan-color-from), var(--a--nyan-color-to));
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /* font-weight: bold; */
}

span.P-a-cat {
    background-color: var(--a--cat-bg-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-weight: bold;
    color: #fff;
}