
:root {
    /*
    --rand-color: #88A5; 
    --spoiler-color: #B1CAE3;
    */
    /* [TO PURPLE] */
    --rand-color: #b0b0ec; /* stay the same as `--spoiler-color` */ /* #66A5; */
    --spoiler-color: #b0b0ec;
    

    --a--nyan-color: #eb39be;
    --a--nyan-color-from: #9e68ff;
    --a--nyan-color-to: #fb399d;

    --a--cat-bg-color: #de2897ab; /* #de2897ab;  #E369B3; */

    --a--word-0: #18c5e1;
    --a--word-1: #ea018f;
}

/*
* small name needed because of this name will be used as output for msg preproc
* so for reducing probability of realloc we need use more small name 
* `P` stands for `post`
* `sp` stands for `spoiler`
*/
span.P-sp {
    color: var(--spoiler-color);
    background-color: var(--spoiler-color);
}
span.P-sp:hover {
    color: inherit;
    background-color: inherit;
}

/* <span class="P-sp">spoilered text</span> */

span.P-rand {
    color: var(--r-col-crab-light);
}
span.P-rand, span.H-rand {
    margin-left: 0.1em;
    margin-right: 0.1em;
    background-color: var(--rand-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
  
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    
    /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */

    /* -webkit-clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0); */
}
/* <span class="P-rand" title="{from} <= x <= {to}">number</span> */


span.P-a-nyan {
    background-color: var(--a--nyan-color);
    background-image: linear-gradient(to right, var(--a--nyan-color-from), var(--a--nyan-color-to));
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /* font-weight: bold; */
}
/* <span class=\"P-a-nyan\">content</span> */

span.P-a-cat {
    background-color: var(--a--cat-bg-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-weight: bold;
    color: #fff;
}
/* <span class=\"P-a-cat\">:3</span>" */

/* for d in ds: print("span.P-d"+str(d), end = ', ') */
span.P-d4, span.P-d6, span.P-d8, span.P-d10, span.P-d12, span.P-d20, span.P-d100 {
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;

    font-weight: bold;
  
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    /* clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%); */
    /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%); // 5gon */
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // 6gon */
    /* clip-path: polygon(20% 0, 0 50%, 20% 100%, 80% 100%, 100% 50%, 80% 0); // 6gon */
}
span.P-d4, span.P-d6, span.P-d8, span.P-d10, span.P-d12 {
    color: #5555F0;
}
span.P-d4 {
    background-color: #FC0;
}
span.P-d6 {
    background-color: #880C0C;
}
span.P-d8 {
    background-color: #FA8A1A;
}
span.P-d10 {
    background-color: #6B9;
}
span.P-d12 {
    background-color: #1ADAFA;
}
span.P-d20 {
    background-color: #9038A0;
    color: #1ADAFA;  
}
span.P-d100 {
    background-color: #000;
    color: #1ADAFA;  
}
/* <span class="P-d6" title="d6">3</span> */

/* `E` stands for `elememnt` */
:root {
    --E--notific-err-bg: #EECCEE;
    --E--notific-err-border: #E8A8DD;

    --E--notific-warn-bg: #FFEEC0;
    --E--notific-warn-border: #875B93;
    
    --E--notific-info-bg: #D6E8FF;
    --E--notific-info-border: #98A0D8;
}
.E-notific {
    height: 1.5em;
    min-width: 1.2em;
    max-width: 80vw;
    position: fixed;
    padding: 2px;
    right: 0.6em;
    /* font-weight: bold; */
    color: var(--r-col-bg-light-blue);
    border: solid 2px;
    line-height: 1;
    font-size: 1em;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 20;
}