
:root {
    --spoiler-color: #B1CAE3;
    --rand-color: #88A5;
}

/*
* small name needed because of this name will be used as output for msg preproc
* so for reducing probability of realloc we need use more small name 
* `P` stands for `post`
* `sp` stands for `spoiler`
*/
span.P-sp {
    color: var(--spoiler-color);
    background-color: var(--spoiler-color);
}
span.P-sp:hover {
    color: inherit;
    background-color: inherit;
}

/* <span class="P-sp">spoilered text</span> */

span.P-rand {
    color: var(--r-col-crab-light);
}
span.P-rand, span.H-rand {
    margin-left: 0.1em;
    margin-right: 0.1em;
    background-color: var(--rand-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
  
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 75% 0);
    
    /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */

    /* -webkit-clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 75%, 25% 100%, 100% 100%, 100% 25%, 75% 0); */
}
/* <span class="P-rand" title="{from} <= x <= {to}">number</span> */
